<section class="news">
	<div class="news__text">
		<div>
			<h2 class="news__text-title">{{ newsTitle }}</h2>
			<p class="news__text-description">{{ description }}</p>
		</div>
		<div>
			<span class="news__text-sauce">{{ sourceName }}</span>
			<app-global-link
				class="news__text-link"
				linkHref="{{ newsUrl }}"
				linkText="ver mais"
			></app-global-link>
		</div>
	</div>
	<div class="news__img">
		<img
			class="news__img-start"
			[style.width]="imgProps.size"
			[style.transition]="imgProps.transition"
			[style.object-position]="imgProps.position"
			[style.scale]="imgProps.scale"
			src="{{ imgUrl || '../../../../../assets/img/broken-star.svg' }}"
			alt=""
		/>
	</div>
</section>
