<app-header></app-header>

<app-tittle></app-tittle>

<app-hot-news-card
	newsTitle="Free Speech Runs Up Against Courtroom Decorum..."
	description="Judges face uncharted territory in deciding whether a
	presidential candidate’s remarks flout rules protecting a fair
	and orderly trial"
	imgUrl="https://images.wsj.net/im-842640/social"
	sourceName="The Wall Street Journal"
	newsUrl="http://www.wsj.com/us-news/trumps-free-speech-runs-up-against-courtroom-decorum-4a9dd0c4"
></app-hot-news-card>

<app-normal-news-card
	newsTitle="Free Speech Runs Up Against Courtroom Decorum..."
	description="Judges face uncharted territory in deciding whether a
	presidential candidate’s remarks flout rules protecting a fair
	and orderly trial"
	imgUrl="https://images.wsj.net/im-842640/social"
	sourceName="The Wall Street Journal"
	newsUrl="http://www.wsj.com/us-news/trumps-free-speech-runs-up-against-courtroom-decorum-4a9dd0c4"
></app-normal-news-card>

<app-footer></app-footer>
