<app-header></app-header>

<app-tittle text="De Última Hora"></app-tittle>

<app-hot-news-card
	*ngIf="firstNews"
	[newsTitle]="firstNews.title"
	[description]="firstNews.description"
	[imgUrl]="firstNews.urlToImage"
	[sourceName]="firstNews.source.name"
	[newsUrl]="firstNews.url"
></app-hot-news-card>

<app-tittle text="Veja Também"></app-tittle>

<section class="news__section">
	<app-normal-news-card
		*ngFor="let new of anotherNews"
		[newsTitle]="new.title"
		[description]="new.description"
		[imgUrl]="new.urlToImage"
		[sourceName]="new.source.name"
		[newsUrl]="new.url"
	></app-normal-news-card>
</section>

<app-footer id="footer"></app-footer>
