.header {
	border-bottom: 2px solid black;
	cursor: default;
	display: flex;
	flex-direction: column;
}

.header__principal {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

.header__logo {
	align-items: center;
	display: flex;
}

.header__logo > h1 {
	font-size: 2rem;
	font-family: "Pacifico", cursive;
	font-weight: 700;
}

.desktop__navigation {
	display: none;
}

.header__options {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 40px;
}

.header__options > button {
	margin-left: 2rem;
}

.header__options-form {
	border: 1px solid rgb(199, 199, 199);
	display: flex;
	margin-left: 0rem;
}

.header__options-form:focus-within {
	outline: none;
	border-color: black;
}

.invalid-border:focus-within {
	border-color: red;
}

.header__options-form > input {
	border: none;
}

.header__options-form > input:focus-visible {
	outline: none;
}

.header__options-search,
.header__options-menu {
	background: none;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	height: 35px;
	width: 35px;
}

.header__options-menu {
	background-image: url("../../../assets/img/menu.svg");
}
.header__options-search {
	background-image: url("../../../assets/img/pesquisa_preto.png");
}

.alert-danger {
	color: rgb(255, 72, 72);
}
