<header class="header">
	<div class="header__principal">
		<div class="header__logo star">
			<h1>News</h1>
		</div>
		<app-navigation-bar class="desktop__navigation"></app-navigation-bar>
		<div class="header__options">
			<button
				*ngIf="canShowButtons"
				(click)="toggleInputVisibility()"
				class="header__options-search"
			></button>
			<form
				*ngIf="canShowInputSearch"
				class="header__options-form"
				[formGroup]="searchForm"
				(ngSubmit)="onSubmit()"
				[ngClass]="{
					'invalid-border': !searchForm.valid && searchForm.touched
				}"
				title="apenas letras!"
			>
				<input
					type="text"
					name="search"
					id="search"
					formControlName="search"
					(blur)="toggleInputVisibility()"
				/>
				<button class="header__options-search" type="submit"></button>
			</form>
			<button
				*ngIf="canShowButtons"
				class="header__options-menu"
				(click)="toggleNavigationVisibility()"
			></button>
		</div>
	</div>
	<app-navigation-bar *ngIf="canShowNavigation"></app-navigation-bar>
</header>
