* {
	font-family: var(--sans);
}
.news {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.news:hover > .news__img > .news__img-start,
.news:active > .news__img > .news__img-start,
.news:focus > .news__img > .news__img-start,
.news:focus-visible > .news__img > .news__img-start,
.news:focus-within > .news__img > .news__img-start {
	scale: 1.5;
	filter: none;
}

.news__img {
	height: 40vh;
	width: 100%;
	overflow: hidden;
	margin-bottom: .5rem;
}

.news__img-start {
	filter: grayscale();
	height: 100%;
	object-fit: cover;
	object-position: center;
	overflow: hidden;
	transition: all 500ms;
	width: 100%;
}
.news__img-start--d {
	object-fit: contain;
}

.news__text {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	height: 50%;
	width: 100%;
}

.news__text-title {
	font-family: var(--rowdies-font);
	font-size: 1.3rem;
	margin-bottom: .5rem;
}

.news__text-description {
	color: rgb(94, 94, 94);
	font-weight: 100;
	font-size: .9rem;
	margin-bottom: .5rem;
	height: 60px;
	overflow: hidden;
}

.news__text > :nth-child(2) {
	align-items: flex-start;
	display: flex;
	height: 30%;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.news__text-sauce {
	font-weight: 400;
	font-style: italic;
	margin-bottom: .5rem;
	height: 20%;
}

.news__text-link {
	width: 100%;
	height: 7vh;
}
