<section class="news">
	<div class="news__img">
		<img
			*ngIf="!showDefaultImg"
			(error)="loadDefaultImg()"
			class="news__img-start"
			src="{{ imgUrl }}"
			alt=""
		/>
		<img
			*ngIf="showDefaultImg"
			class="news__img-start news__img-start--d"
			src="../../../../../assets/img/broken-star.svg"
			alt=""
		/>
	</div>
	<div class="news__text">
		<div>
			<h2 class="news__text-title">
				{{ newsTitle }}
			</h2>
			<p class="news__text-description">
				{{ description }}
			</p>
		</div>
		<div>
			<span class="news__text-sauce">{{ sourceName }}</span>
			<app-global-link
				class="news__text-link"
				linkHref="{{ newsUrl }}"
				linkText="ver mais"
			></app-global-link>
		</div>
	</div>
</section>
