.link {
	align-items: center;
	box-sizing: border-box;
    background-color: white;
    border: 1px solid black;
    color: black;
	display: flex;
    font-size: 1rem;
    font-weight: 500;
	justify-content: center;
	height: 100%;
    padding: .2rem 1rem;
	text-transform: uppercase;
    text-decoration: none;
    transition: 300ms;
	width: 100%;
}
.link::after {
    content: '';
    background: url('../../../assets/img/link-externo-preto.svg');
    display: inline-block;
	margin-left: 5px;
    height: 13px;
    width: 13px;
}
.link:visited {
    color: black;
    text-decoration: none;
}
.link:hover,
.link:active,
.link:focus,
.link:focus-visible,
.link:target {
	filter: invert();
}
