<!-- carrossel -->
<section class="swiper__main">
	<div class="swiper mySwiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide g1">
				<img
					src="../../../../../assets/img/newspaper-company/g1.svg"
					alt=""
				/>
			</div>
			<div class="swiper-slide cnn">
				<img
					src="../../../../../assets/img/newspaper-company/cnn.svg"
					alt=""
				/>
			</div>
			<div class="swiper-slide el__paris">
				<img
					src="../../../../../assets/img/newspaper-company/el-paris.svg"
					alt=""
				/>
			</div>
			<div class="swiper-slide folha">
				<img
					src="../../../../../assets/img/newspaper-company/folha.svg"
					alt=""
				/>
			</div>
			<div class="swiper-slide new__times">
				<img
					src="../../../../../assets/img/newspaper-company/the-new-york-times.svg"
					alt=""
				/>
			</div>
			<div class="swiper-slide washington">
				<img
					src="../../../../../assets/img/newspaper-company/the-washington-post.svg"
					alt=""
				/>
			</div>
		</div>
	</div>
</section>
