.search {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 2rem;
	height: calc(100vh - 2rem);
	width: 100vw;
}

.search__content {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content__header {
	display: block;
	border-bottom: 2px solid black;
	font-size: 2rem;
	font-family: "Pacifico", cursive;
	padding: 2rem 1rem 1rem 1rem;
	font-weight: 700;
	transition: all 2000ms;
}

.content__title {
	transition: all 2000ms;
}

@media screen and (min-width: 500px) {
	.swiper-slide {
		width: 10%;
	}
}

@media screen and (max-width: 500px) {
	.content__title-height {
		height: 60px;
	}
}
