.error-container {
	font-family: var(--rowdies-font);
	font-weight: 100;
	padding: 20px;
	text-align: center;
}

.container__searched {
	font-size: 1.2rem;
}

.error-container > img {
	width: 20vw;
}
.container__searched > strong {
	font-weight: 700;
	text-decoration: underline;
	text-transform: uppercase;
}

.error-container > span {
	font-size: .6rem;
}

a {
	color: black;

}

@media screen and (max-width: 500px) {
	.error-container > img {
		width: 50vw;
	}
}
