<div class="error-container">
	<app-tittle text="Ooops! A página não carregou corretamente" marginTop="0" [marginRight]="false"></app-tittle>
	<img src="../../../../../assets/img/broken-star.png" alt="broken star">
	<p class="container__searched">termo buscado: <strong>'{{search}}'</strong></p>
	<p>Verifique se o termo que você pesquisou está correto...</p>
	<p>Por favor, tente mudar o termo pesquisado, recarregar a página ou verifique sua conexão com a internet.</p>
	<span>image credits: <a href="https://thenounproject.com/icon/unlike-5106436/" target="_blank" rel="noopener noreferrer">here</a></span>
</div>
